.container {
    display: block;

}

.containerHeader {
    min-height: calc(100vh - 5rem);
    max-width: 70rem;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        max-width: 40rem;
    }

}

.ctaText {
    max-width: 37.5rem;

    h1 {
        font-size: 3.5rem;
        line-height: 4.5rem;
        font-weight: 900;

        margin-top: 2.5rem;
        color: var(--white);
    }

    span {
        font-size: 1rem;
        line-height: 2.25rem;
        color: var(--white);

    }


    button {
        background-color: var(--blue-900);
        border: 0;
        padding: 1rem 1.8rem;
        margin-top: 2.5rem;
        border-radius: .5rem;
        color: var(--white);
        font-weight: bold;

    }

}


.divisor {
    width: 100%;
    bottom: 0;
    height: .0625rem;
    border-color: var(-gray-200);


}

.sectionContent {
    margin: 5.5rem auto;
    max-width: 70rem;
    display: flex;
    align-items: center;
    justify-content: center;

    section {
        max-width: 41.875rem;
    }

    img {
        max-width: 34.375rem;
    }

    h2 {
        font-size: 2.2rem;
        line-height: 4.5rem;
        font-weight: 900;
        margin-top: 2.2rem;
        color: var(--white);
    }


    span {
        font-size: 1rem;
        line-height: 2.25rem;
        color: var(--white);
    }

}

.nextLevelContent {
    margin: 6rem auto;
    max-width: 70rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

    h2 {

        font-size: 2.8rem;
        line-height: 4.5rem;
        font-weight: 900;
        color: var(--white);

        span {

            font-size: 2.8rem;
            line-height: 4.5rem;
            font-weight: 900;
            color: var(--blue-900);

        }

    }

    span {
        font-size: 1rem;
        line-height: 2.25rem;
        color: var(--white);


    }

    button {
        background-color: var(--blue-900);
        border: 0;
        padding: 1rem 1.8rem;
        margin-top: 2.5rem;
        border-radius: 8px;
        color: var(--white);
        font-weight: bold;

    }


}

@media (max-width:68.4375rem) {
    .container {
        .containerHeader {
            padding: 0 2rem;


            button {
                display: block;

            }

        }

        img {
            max-width: 37.5rem;
        }

        div h1 {
            font-size: 3rem;
        }

        div h2 {
            font-size: 2.3rem;

            span {
                font-size: 2.3rem;
            }
        }

        .sectionContent, .nextLevelContent {
            padding: 0 2rem;
            h2{
                line-height: 2.2rem;
                margin-bottom: 1rem;
            }

           
        }


    }

}

@media (max-width:59.375rem) {

    .container {
        .containerHeader {
            flex-direction: column;

            button {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        div img {
            max-width: 31.25rem;
        }

        div h1 {
            font-size: 3rem;
            
        }


        div h2 {
            font-size: 1.5rem;
            
        }

    }

    .sectionContent {
        flex-direction: column;

        img {
            margin-top: 2rem;
            max-width: 25rem;

        }

    }

}